<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="4wMdlsCxqYAKURnAN_6Af3PNkiDEz0m6z1xE7UasfRY" />
    <meta name="description" content="Блог Евгения Баранова о веб разработке в общем и о Ruby on Rails в частности"/>
    <title> Блог о веб разработке на фреймворке Ruby on Rails</title>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "rails.png" %>
        <% end %>
      </div>
 
      <ul>
        <li class="category">Сайт</li>
        <li><%= link_to "Блог", root_path %></li>
        <li><%= link_to "Об Авторе", about_path %></li>
        <li><%= link_to "Портфолио", portfolio_path %></li>
      </ul>
 
      <ul>
       <li class="category">Ссылки</li> 
       <li><a href="https://github.com/Evgen1983">Github</a></li>
       <li><a href="mailto:Baranoff_bonch@mail.ru">Email</a></li>
      </ul>
      <% if logged_in? %>
        <p class="sign_in"> <%= link_to "Админ", current_user %></p>  
      <%end%>

    </div>
     <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>Все Записи</p>
      <% elsif current_page?(about_path) %>
        <p>Обо мне</p>
      <% elsif current_page?(portfolio_path) %>
        <p>Портфолио</p>
      <% else %>
        <%= link_to "Обратно к записям", root_path %>
      <% end %>

    <% if logged_in? %>
      <div class="buttons">
        <% if current_page?(current_user) %>
          <%= link_to new_post_path do %> 
          <button class="button">Новая Запись</button> 
          <% end %>
          <%= link_to(logout_path, method: "delete") do %> 
          <button class="button">Выход</button>
          <%end%>
        <%end%>
      </div>
    <% end %>
    </div>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
 
   
      <%= yield %>
      
      <%= debug(params) if Rails.env.development? %>
      
  </body>
</html>